.formControl {
  width: 100%;
}
.formCard {
  padding: 2rem;
  width: 50%;
  border-radius: 1rem !important;
}
.mainContainer {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-height: 53.8vh;
}
