.formContainer {
  border-radius: 1rem;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  background-color: #f1efff;
}
.heading_h1 {
  color: #5c44ff;
  margin: 0;
}
.inputField,
.submitButton {
  width: 25rem !important;
}
.submitButton:hover {
  background-color: #ff345d !important;
}

.registrationForm {
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.loginImageContainer img {
  width: 100%;
  height: 95%;
  padding: 1rem;
}
.container {
  min-width: 100%;
  min-height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
